.custom-header-top-bar{
background-color:#ffffff!important;
}
.offcanvas-wrapper .custom-offcanvas-header{
background-color:#ffffff!important;
}
.custom-header-mid.c1-bg{
background-color:#ffffff!important;
}
.custom-mobile-header.c1-bg{
background-color:#ffffff!important;
}